@charset "utf-8";
/*---------------------------------------------->
Utility Classes 
<-----------------------------------------------*/

.container {
	width: min(100% - 30px, 1200px);
	margin-inline: auto;
}

.flex {
	display: flex;
}
.f-col {
	flex-direction: column;
}

.cursor-pointer {
	cursor: pointer;
}

.circle {
	border-radius: 50%;
}

.hidden {
	display: none;
	opacity: 0;
}

/*---------------------------------------------->

<-----------------------------------------------*/

a {
	text-decoration: none;
	font-size: inherit;
	font-family: inherit;
	color: inherit;
}

button {
	border: none;
	outline: none;
	text-decoration: none;
}

/*---------------------------------------------->
Body Structure 
<-----------------------------------------------*/

body {		
	font-family: "Poppins", Arial, sans-serif;
	color: #fefefe;
	background-color: #456;
}

main {
	width: 100%;
	height: 100svh;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 0;
}

/*---------------------------------------------->
Main Background 
<-----------------------------------------------*/

.background-banner {
	height: 100svh;
	width: 100svw;
	background: #fff url('../img/cookie.jpg') no-repeat center center;
	background-size: cover;
	align-items: center;
	position: fixed;
	z-index: -1;

	h1 {
		font-size: 4rem;
		color: #023;
		text-align: center;
		margin: 50px;
	}

	i {
		font-size: 3.5rem;
		color: #023;
	}

	div {
		height: 60px;
		width: 60px;
		background-color: #fefefe;
		justify-content: center;
		align-items: center;
	}

}

/*---------------------------------------------->
Cookie Dialogue and Modal
<-----------------------------------------------*/

.cookie-dialogue, .cookie-settings {
	width: 300px;
	height: 350px;
	border-radius: 25px;
	padding: 25px;
	background-color: #987;
}

h3 {
	font-size: 2.2rem;
}

button {
	border-radius: 50px;
	border: solid 1px #3fa7d6;
	color: #3fa7d6;
	margin: 25px 0;
	padding: 5px 10px;
	transition: all 0.2s ease-in-out;
}

button:hover {
	transform: scale(1.02) translateY(-2px);
}

.save-preferences {
	margin: 15px 0px;
	width: 200px;
}

.accept {
	margin-right: 10px;
	color: #fefefe;
	background-color: #3fa7d6;
}

/*---------------------------------------------->
Toggle Switches 
<-----------------------------------------------*/

.toggle-group {
  display: flex;
  flex-direction: column;
}

.toggle-item {
  display: flex;
  align-items: center;
	justify-content: space-between;
  gap: 15px;
	margin-bottom: 15px;
}

.toggle-text {
  font-size: 1rem;
  color: #fefefe;
}

.toggle-container {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 20px;
}

.toggle-checkbox {
  display: none;
}

.toggle-label {
  display: block;
  background-color: #fac05e;
  border-radius: 30px;
	border: solid 0.5px #3fa7d6;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-ball {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: #fefefe;
  transition: transform 0.3s ease;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #59cd90;
}

.toggle-checkbox:checked + .toggle-label .toggle-ball {
  transform: translateX(31px);
}
